# Data Wrangling

I got the dataset from Stanford's website.

In [1]:
import os
import pandas as pd

dataset = "Electronics_5.json"

if os.path.isfile(dataset):
    df = pd.read_json("Electronics_5.json", lines=True)
else:
    url = r"http://snap.stanford.edu/data/amazon/productGraph/categoryFiles/reviews_Electronics_5.json.gz"
    df = pd.read_json(url, compression='gzip', lines=True)

display(df.head())

,reviewerID,asin,reviewerName,helpful,reviewText,overall,summary,unixReviewTime,reviewTime
0,AO94DHGC771SJ,0528881469,amazdnu,"[0, 0]",We got this GPS for my husband who is an (OTR)...,5,Gotta have GPS!,1370131200,"06 2, 2013"
1,AMO214LNFCEI4,0528881469,Amazon Customer,"[12, 15]","I'm a professional OTR truck driver, and I bou...",1,Very Disappointed,1290643200,"11 25, 2010"
2,A3N7T0DY83Y4IG,0528881469,C. A. Freeman,"[43, 45]","Well, what can I say. I've had this unit in m...",3,1st impression,1283990400,"09 9, 2010"
3,A1H8PY3QHMQQA0,0528881469,"Dave M. Shaw ""mack dave""","[9, 10]","Not going to write a long review, even thought...",2,"Great grafics, POOR GPS",1290556800,"11 24, 2010"
4,A24EV6RXELQZ63,0528881469,Wayne Smith,"[0, 0]",I've had mine for a year and here's what we go...,1,"Major issues, only excuses for support",1317254400,"09 29, 2011"

# Splitting DataFrames

Because the dataframe is so big. COLAB keeps collapsing and I couldn't get any results from there. So I decided to split the dataset to work on my localhost.

In [2]:
shuffled = df.sample(frac=1)

I shuffled the dataframe.

In [3]:
shuffled

,reviewerID,asin,reviewerName,helpful,reviewText,overall,summary,unixReviewTime,reviewTime
468994,APC67SS58SV87,B001GCQ3KM,bloodshot,"[0, 0]",I narrowed my choices down to this and an iPod...,5,Great mp3 player.,1239840000,"04 16, 2009"
5802,A34G4GSIYY4JJ3,B00002EQCW,"Jay Citizen ""JCitizen""","[0, 0]",These have been staple for years. You can't ge...,5,A tried at true solution...,1359417600,"01 29, 2013"
162874,A2FBQCIU4KSYPZ,B000A6PPOK,Meniscus,"[0, 0]","The ergonomic styling works well, after only a...",3,Good but could be better.,1192406400,"10 15, 2007"
1391089,A2LB20XRW6SY0W,B008EWNVI4,"Jackson65 ""Jack's Woodworking""","[1, 2]",We have a Panasonic Vierra that is a great TV ...,5,Great TV sound.,1380499200,"09 30, 2013"
742549,A9C5WOVLLNC43,B003BEDQR6,T. C. Fowler,"[0, 0]",When I bought this I had high expectations but...,3,It's an OK system,1300060800,"03 14, 2011"
...,...,...,...,...,...,...,...,...,...
831727,A2D2A1D7IWAYRK,B003VAM32E,CarCar,"[0, 0]",Im coming to this mouse after using an MX Revo...,3,I hate this mouse (updated),1377561600,"08 27, 2013"
1536949,A1KBXBBIOC55MT,B00AWYN0BU,BlueCrabVintage,"[18, 19]",If wireless connectivity to your home computer...,4,"Great Camera, Horrible WiFi",1384732800,"11 18, 2013"
19911,A2L4W1M5YU5QX3,B00005ATMI,Njrg,"[0, 0]",Not a fan of how it folds or the cheap CD hold...,4,It works.,1354406400,"12 2, 2012"
1467837,A68OP7UAAP4PY,B009EADB2Q,"Amazon Customer ""Baldito""","[0, 0]",This is great speaker wire. All copper and the...,5,"Great speaker wire, what else can i say.",1400371200,"05 18, 2014"
301847,A39DMH1D4SHUU7,B000RFRP88,AS,"[0, 0]",Built E-LS15-D07 13-15 Inch Laptop Sleeve (Do...,5,Perfect Fit For Dell Inspiron 13 with a 9-cell...,1285718400,"09 29, 2010"

In [5]:
import numpy as np

In [6]:
result = np.array_split(shuffled, 3)

I split the shuffled dataframe into 3.

In [7]:
df1 = result[0].reset_index().drop("index",axis=1)
df2 = result[1].reset_index().drop("index",axis=1)
df3 = result[2].reset_index().drop("index",axis=1)

In [11]:
df1.shape, df2.shape, df3.shape

((563063, 9), (563063, 9), (563062, 9))

In [9]:
df1.head(2)

,reviewerID,asin,reviewerName,helpful,reviewText,overall,summary,unixReviewTime,reviewTime
0,APC67SS58SV87,B001GCQ3KM,bloodshot,"[0, 0]",I narrowed my choices down to this and an iPod...,5,Great mp3 player.,1239840000,"04 16, 2009"
1,A34G4GSIYY4JJ3,B00002EQCW,"Jay Citizen ""JCitizen""","[0, 0]",These have been staple for years. You can't ge...,5,A tried at true solution...,1359417600,"01 29, 2013"

In [12]:
df2.head(2)

,reviewerID,asin,reviewerName,helpful,reviewText,overall,summary,unixReviewTime,reviewTime
0,A2PT8MAH3G2I6Q,B0042X96L0,K. Willms,"[12, 13]",My previous head unit finally crapped out afte...,4,"Good concept, good sound, pretty bad knob",1304812800,"05 8, 2011"
1,A127GZ51PD786F,B005CLPP8E,B. Snelgrove,"[0, 0]",This is the second one of these Roku devices I...,5,Yea Roku,1359590400,"01 31, 2013"

In [14]:
df3.head(2)

,reviewerID,asin,reviewerName,helpful,reviewText,overall,summary,unixReviewTime,reviewTime
0,A2JCFIZ1OIVJHK,B000UXDHOI,R. Hopkins,"[0, 0]",I bought a secondary battery for the fuji exrf...,4,Fujifilm NP-50 Lithium Ion Rechargeable Batter...,1376784000,"08 18, 2013"
1,A4GGT6O0GQNV2,B00FJXVRM8,BKarno,"[9, 11]",We have 4 Chromebooks in our family. The late...,4,Best Built Budget Chromebook But Already Outdated,1387929600,"12 25, 2013"

In [15]:
df1.to_csv("amazon_1.csv")
df2.to_csv("amazon_2.csv")
df3.to_csv("amazon_3.csv")

I saved the splitted dataframes to 3 seperate csv files so I only need to get them from my local machine next time I need them.